<mat-toolbar>

  <a [routerLink]="['/home']"> <img src="assets/images/logo.png" alt="SoftSolutions" class="toolbar-logo"> </a>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="icone"><mat-icon >menu</mat-icon></button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/cursos']">Cursos</button>
    <button mat-menu-item [routerLink]="['/login']">Login</button>
    <button mat-menu-item [routerLink]="['/quem-somos']">Sobre</button>
    <button mat-menu-item [routerLink]="['/cadastro']">Cadastre-se</button>
    <button mat-menu-item [routerLink]="['/certificados']">Certificados</button>
    <button mat-menu-item [routerLink]="['/contato']">Contato</button>
    <button mat-menu-item>Meu Perfil</button>
    <button mat-menu-item > <mat-icon>settings</mat-icon> <span>Configurações</span> </button>

</mat-menu>



  </mat-toolbar>
