html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --cor-primaria: #125887; /* Azul */
  --cor-secundaria: #2ecc71; /* Verde */
  --cor-fundo: #000;
}



