
<div class="container">
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>

  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>
  <div class="card">
    <div class="card-img-top-wrapper">
      <img src="assets/images/AC.jpg" class="card-img-top" alt="Imagem do Curso">
    </div>
    <div class="card-body">
      <h2 class="card-title">Desenvolvimento Web</h2>
      <p class="card-text">
        <span>Prof. Marcos Andrade</span>
        <span class="rating">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
          <img src="assets/images/home/estrela.png" alt="Imagem Ilustrativa">
        </span>
      </p>
      <button type="button" class="btn">Conheça o curso</button>
    </div>
  </div>

</div>
